body {
  margin: 0;
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shoe-container {
  border: brown solid 1px;
}

.shoe-container:hover {
  box-shadow: 0 0 10px gray;
}

.shoe-container h4 {
  color: brown;
  padding-left: 10px;
}

.shoe-description {
  text-align: left !important;
}

.shoe-description h2 {
  border-bottom: darkblue solid 2px;
  padding-bottom: 5px;
}

.shoe-description h4 {
  padding-left: 30px;
}

a {
  text-decoration: none;
}
