body {
  margin: 0;
  background-color: lightgray;
}

.nf-container {
  box-sizing: border-box;
  height: 90vh;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: brown;
  box-sizing: border-box;
  height: 100px;
  background-color: lightslategrey;
  padding: 30px;
}
